//colors
$grey:rgb(83, 86, 90);
$black: #000;
$light-black: #151719;
$grey: #FAFAFA;
$primary-color: #367571;
$primary-opacity-color:#367571ee;
$secondary-color: rgba(0, 0, 0, 0.932);

$links-hover-color:#367571ee;
$dark-green: #143230;

$text-color: #000;
$body-color: #fff;
$svg-color: rgb(232 243 235/1);

$light-green:rgb(232 243 235/1);
$light-green-color:rgb(232 243 235/1);

//font size
$font-size-xs: 0.313rem;
$font-size-sm: 0.625rem;
$font-size-md: 1rem;
$font-size-lg: 1.25rem;
$font-size-xl: 1.563rem;


//max-width
$max-width: 1140px;


//border radius
$border-radius-sm: 5px;
$border-radius-md: 8px;
$border-radius-lg: 15px;


//box-shadow
$box-shadow-one: 0px 53.9691px 69.5602px rgb(0 0 0 / 17%), 0px 19.6996px 25.3906px rgb(0 0 0 / 12%), 0px 9.5638px 12.3267px rgb(0 0 0 / 9%), 0px 4.68835px 6.04276px rgb(0 0 0 / 8%), 0px 1.85378px 2.38932px rgb(0 0 0 / 5%);
$box-shadow-two: 0 10px 25px rgb(54 117 113 / 50%);
$box-shadow-three: 0 5px 22.5px rgb(54 117 113 / 50%);




