.tag{
    background: var(--primary-tag-background-color);
    padding: 6px 13px;
    border-radius: 4px;
    text-transform: capitalize;
    font-size: 11px;
    margin-right: 6px;
    color: var(--primary-tag-text-color);
    font-weight: 700;
}