.contact-hero {
    font-family: 'Inter', sans-serif;
    position: relative;
    width: 100%;
    min-height: calc(100vh - 60px);
    background-color: var(--primary-background-color);



    &__container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: relative;
        max-width: $max-width;
        margin: 0 auto;

        @include xs {
            padding: 150px 30px;
        }

        @include sm {
            padding: 120px 50px;
        }

        @include md {
            padding: 120px 50px;
        }
        @include lg {
            padding: 120px 30px;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        // height: calc(100vh - 500px);
        height: 50vh;
        // width: 100%;

        h2 {
            @extend %h2;
            // text-align: center;
            // padding: 0 1rem;
            font-weight: 700;
            // margin-bottom: 3rem;
            // color:#000;
            color: var(--primary-heading-color);
            // &:first-of-type{
            //     color: #031926;
            // }
            // &:nth-of-type(2){
            //     color:#333333;
            // }
            // @include xs {
            //     width: 90%;
            // }

            // @include sm {
            //     width: 80%;
            // }

            // @include md {
            //     width: 90%;
            // }

            // @include xl {
            //     width: 50%;
            // }
        }

        p {
            // text-align: center;
         
            // color: rgba(255, 255, 255, 0.878);
            color:var(--primary-text-color);

            &:first-of-type {
                margin-top: 40px;
                line-height: 1.5;
            }

            &:nth-last-of-type(1) {
                margin-top: 20px;
                line-height: 2.3;
            }

            // @include xs {
            //     width: 90%;

            // }

            // @include sm {
            //     width: 70%;
            // }

            @include lg {
                width: 90%;
            }

            // @include xl {
            //     width: 50%;
            // }
        }
        a{
            display: inline-block;
        }

    }



    &__icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 4rem;
        position: absolute;
        bottom: 5%;
        // padding: 0 2rem;
    }

    &__link {
        position: relative;

        // &--github,
        // &--linkedIn {
        //     &::after {
        //         content: "";
        //         display: block;
        //         width: calc(100% - 2.3rem);
        //         height: 0.10rem;
        //         background: #000;
        //         position: absolute;
        //         top: 0rem;
        //         transform: scaleX(1);
             
        //     }
        // }

        &--github {
            left: 0px;
        }

        &--linkedIn {
            &::after {
                right: 0px;
            }
        }

        &--contact {
            color:var(--primary-link-text-color);
            background-color: var(--primary-link-background-color);
            border: 1px solid var(--primary-link-border-color);
            border-radius: 4px;
            padding: 1.25rem 1.75rem;
            font-size: 14px;
            line-height: 1;
            text-decoration: none;
            cursor: pointer;
            transition: all 1s ease 0s;
            margin-top: 50px;

            &:hover{
                background-color: var(--primary-link-background-hover-color);
                border: 1px solid var(--primary-link-border-hover-color);
                color: var(--primary-link-text-hover-color);
                outline: none;
            }

            span {
                display: flex;
                align-items: center;
                font-size: 15px;
                line-height: 15px;
                transition: all 1s ease 0s;
            }
        }
    }

    &__icon {
        font-size: 40px;
        color: var(--primary-icon-color);
        transform: scale(1);
        transition: transform .2s;

        &:hover {
            transform: scale(1.2);
        }

        &--github {
            margin-left: 2rem;
        }

        &--linkedIn {
            margin-right: 2rem;
        }
    }

   

  

}